<!DOCTYPE html>
<html>

<head>
    <title>Login paciente</title>
    <%- include ('partials/cdns') %>
    <%- include ('partials/estilos') %>
</head>

<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Iniciar Sesión Paciente</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><a href="/login"><i class="fas fa-users"></i></a></span>
                        <span><a href="/login-medico"><i class="fas fa-user-md"></i></a></span>
                        <span><a href="/login-hospital"><i class="fas fa-hospital"></i></a></span>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/salud/loginPaciente" method="POST">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="nombre de usuario" id="username"
                                name="username">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="contraseña" id="password"
                                name="password">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Recordarme
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Acceder" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        ¿No tienes una cuenta?<a href="/registrarse">Registrate aqui</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Recuperar contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>