<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cargar documento</title>

    <%- include ('partials/cdns') %>
    <%- include ('partials/estilos') %>
   
</head>

<body>
    <%- include ('partials/navbarPaciente') %>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="cardUploadFile">
                <div class="card-header">
                    <h3>Subir documentos</h3>
                </div>
                <div class="card-body">
                    <form action="/subir-documentos/<%= paciente.id.toString() %>" method="POST" enctype="multipart/form-data">
                        <div class="custom-file form-group col-12">
                            <label>Documento:</label>
                            <input type="file" class="form-control form-control-file" id="documento" name="documento">
                            <small class="form-text">*Es necesario seleccionar la fecha en la cual fue realizado el
                                estudio</small>
                        </div>
                        <div class="form-group col-4">
                            <label>Fecha documento:</label>
                            <input id="fechaDocumento" name="fechaDocumento" type="date" class="form-control" required>
                        </div>
                        <div class="form-group col-12">
                            <label>Descripcion:</label>
                            <textarea id="descripcion" name="descripcion" type="textarea" class="form-control" rows="4"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn float-right guardar_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>